@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Orbitron:wght@700&display=swap');
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: black;
  color: #78F4FF;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 60px;
}

.container {
  height: 80vh;
  padding-top: 25px;
}

.board {
  margin: auto;
  max-height: calc(80vh - 75px);
  max-width: calc(80vh - 75px);
}

.box {
  align-items: center;
  justify-content: center;
  background-color: black;
  border-right: 5px solid #78F4FF;
  border-bottom: 5px solid #78F4FF;
  color: #78F4FF;
  display: flex;
  font-family: 'Orbitron', sans-serif;
    // height: 150px;
  // width: 150px;
  user-select: none;
  font-size: 15vh;
  min-height: calc(100% / 3);
  text-shadow: 4px 2px rgba(0, 0, 0, .25);
  cursor: pointer;
  // cursor: pointer makes the pointer change when hovering
  &:nth-child(3n) {
    border-right: 0;
  }
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
  &:hover {
    background-color: #6CDBE6;
  }
}

.hide {
  display: none;
}
