@import '~bootstrap/scss/bootstrap';

.container {
  height: 80vh;
}

.board {
  margin: auto;
  max-height: calc(80vh - 75px);
  max-width: calc(80vh - 75px);
}

.box {
  align-items: center;
  justify-content: center;
  background-color: white;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  color: black;
  display: flex;
  // height: 150px;
  // width: 150px;
  user-select: none;
  font-size: 15vh;
  min-height: calc(100% / 3);
  text-shadow: 4px 2px rgba(0, 0, 0, .25);
  cursor: pointer;
  // cursor: pointer makes the pointer change when hovering
  &:nth-child(3n) {
    border-right: 0;
  }
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
  &:hover {
    background-color: tan;
  }
}

.hide {
  display: none;
}
